*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
H1 {
    font-size: 175%;
    text-transform: capitalize;
    text-align: center;
    margin-top: 32px;
}
.items {
    margin: 16px;
}
.grid {
    position: relative;
    padding: 16px;
    Float: left;
}
.cards {
    background-color: grey;
    border: 2px solid black;
    float: left;
}
.item-title {
    font-size: 125%;
    border: 2px solid black;
    width: fit-content;
    position: relative;
    float: right;
    top: -2px;
    right: -2px;
    padding: 4px 32px 4px 32px;
}
.pink{
    background-color: pink;
    color:black;
    
}
.red{
    background-color: crimson;
    color:white;
    
}
.yellow{
    background-color: yellow;
    color:black;
    
}
p {
    clear: right;
    padding: 16px;
}

@media (min-width:992px){
    .grid{
        width:calc(100% / 3);
    }
}
@media (min-width:768px) AND (max-width:991px){
    .grid{
        width:50%;
    }
    div.grid:nth-last-child(1):nth-child(odd) {
        width: 100%;
    }
    }
}
    